<article>
    <section class="header">
        <span class="date">발행: $date$</span>
        $if(lastmodDate)$
          /
          <span class="lastmod">수정: $lastmodDate$</span>
        $endif$
    </section>
    <section class="article-body">
        $body$
    </section>
</article>
<section class="comments">
  <hr>
  <h2>댓글</h2>
  <noscript>댓글을 확인하려면 javascript를 허용해주세요.</noscript>
  <script src="https://utteranc.es/client.js"
          repo="kimminss0/minseo-kim.net"
          issue-term="pathname"
          label="utterances"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</section>
